@require './flatten'

// Adds size/line-height shorthand to font-size property.
//
// Example:
//   font-size: 1em/2
//   font-size(1em, 2)
font-size()
	args = flatten(arguments)
	font-size: args[0]
	lineHeight = args[1] is '/' ? args[2] : args[1]
	line-height: lineHeight if lineHeight